<div>

    <h1>{{device.description}} alerts</h1>

    <p class="lead">{{device.id}}</p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="alert in device.alerts" class="animate">
                <td>{{alert.id}}</td>
                <td>{{alert.description}}</td>
                <td>
                    <a ng-click="openEditAlertModal(alert, $index)"
                       class="btn btn-success">
                        <span class="ion-edit"></span> Edit
                    </a>
                    <a ng-click="delete(alert, $index)"
                       class="btn btn-danger">
                        <span class="ion-trash-b"></span> Delete
                    </a>
                </td>
            </tr>
            <tr ng-cloak ng-hide="device.alerts.length">
                <td colspan="3">No alerts found.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary btn-lg" ng-click="openAddAlertModal()">
        <span class="ion-android-add-circle"></span> Add a new alert
    </button>
</div>
